/* Add your styles where appropriate */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E2D1F9;
    font:sans-serif;
    
}
div>img{
  width: 100%;
}
body>img{  width: 100%;  }
a:hover{
  color:#AB2051;
}
a{
  color:#feea80;
}

.link1{
  text-align: center;
   color:#e9ec27332;
   font-size:20px;
}
#FoodHeader{margin: 0;
      color:#FFEA81;
      text-align: center; 
      font-size: 65px;
    font-family: 'Marker Felt', fantasy;   
  }

main, article {
    max-width: 80px;
    margin: 0 auto;
    
}
.ING1{
   text-align: center;
    color:#FFEA81;
    font-size: 40px;
    font-family: 'DynaPuff', cursive;
}
.ING2{
    text-align: center;
     color: #FFEA81;
     font-size: 40px;
     font-family: 'Blippo', fantasy;

}
.ING3{
   text-align: center;
     color: #FFEA81;
     font-size: 40px;
   font-family: 'Marker Felt', fantasy;


}
.outer{
    padding: 10px;
    margin-top: 40px;
    background:#675f67;
    
  }
    .inner{
    background: #fff9db;
    color: #394D5C;
    
}
hr.dashed {
  border-top: 3px dashed #462f2f;
}

hr.dotted {
  border-top: 3px dotted #462f2f;

 hr.dashed {
  border-top: 3px dashed #462f2e;
}

  
.reviewtxt{
   padding:40px;
    overflow-wrap: break-word;
}

.humanname{font-style:bold;}
div img{
  width: 100%;
}  